* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.template {
  display: none;
}

.active {
  display: block;
}

/* background */
.background {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.background-head {
  width: 100%;
  height: 150px;
  background-color: #1EBDA4;
}

.background-main {
  width: 100%;
  height: calc(100% - 150px);
  background-color: #CFD3CF;
}

/* app-box */
.chat-container {
  width: 75%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.col-left {
  width: 35%;
  height: 100%;
  float: left;
}

.col-right {
  width: 65%;
  height: 100%;
  float: left;
}



.header-left {
  width: 100%;
  height: 60px;
  background: #EEEEEE;
  border-right: 1px solid lightgray;
}

.header-right {
  width: 100%;
  height: 60px;
  background: #EEEEEE;
  border-bottom: 1px solid lightgray;
}



.notification {
  width: 100%;
  height: 60px;
  background: #9DE1FE;
}

.search {
  width: 100%;
  height: 45px;
  background: #F8F8F8;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-bar {
  width: 80%;
  height: 20px;
  border: 1px solid lightgray;
  border-radius: 20px;
  padding-left: 17px;

}

.crono-chat {
  width: 100%;
  height: calc(100% - 165px);
  overflow: auto;
  background-color: white;
}

.past-chat {
  width: 100%;
  height: 60.89px;
  background: #FFFFFF;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div.past-chat img{
  height: 45px;
  width: 45px;
  border-radius: 45px;
}

.contact{
  width: 60%;
  margin-top: 5px;
  margin-left: -15px;
}

.last-msg {
  color: gray;
  font-size: 13px;
}

.messages {
  width: 100%;
  height: calc(100% - 130px);
  background-image: url(immagini/sfondo-chat.png);
  overflow: auto;
  font-size: 40px;
}

.messages-centering {
  width: 80%;
  height: 90%;
  margin: 20px auto;
  display: none;

}

.active {
  display: block;
}


.user-container {
  width: 100%;
  display:flex;
  justify-content: flex-end;
}

.user {
  max-width: 70%;
  height: auto;
  font-size: 20px;
  background-color: #DCF8C6;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

.white {
  background-color: white;
}

.text-box {
  width: 100%;
  height: 70px;
  background: #EFEFEF;
  border-left: 1px solid lightgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


#text-message {
  width: 70%;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 30px;
  padding-left: 8px;
  color: gray;
}

.send-rec {
  position: relative;
}

.fa{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa-paper-plane {
  display: none;
}
