* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.background-head {
  width: 100%;
  height: 150px;
  background-color: #1EBDA4;
}

.background-main {
  width: 100%;
  height: calc(100% - 150px);
  background-color: #CFD3CF;
}

.chat-container {
  width: 75%;
  height: 90%;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  width: 100%;
  height: 60px;
  background: green;
  display: flex;
}

.header-left {
  width: 35%;
  height: 100%;
  background: pink;
}

.header-right {
  width: 65%;
  height: 100%;
  background: black;
}

aside {
  height: calc(100% - 60px);
  width: 35%;
  background: purple;
  float: left;
}

.notification {
  width: 100%;
  height: 60px;
  background: lightblue;
}

.search {
  width: 100%;
  height: 45px;
  background: violet;
}

.crono-chat {
  width: 100%;
  height: calc(100% - 105px);
  background: yellow;
  overflow: auto;
}

.past-chat {
  width: 100%;
  height: calc(100% / 8);
  background: green;
  border: 1px solid black;

}

.chat-box {
  width: 65%;
  height: calc(100% - 60px);
  background-color: blue;
  float: left;
}

.messages {
  width: 100%;
  height: calc(100% - 70px);
  background: brown;
  overflow: auto;
  font-size: 40px;
}

.text-box {
  width: 100%;
  height: 70px;
  background: orange;
}
